{% extends "layout.html" %}
{% block body %}
<div class="starter-template">
	<h1>Done.</h1>
	<p class="lead">

	Now you can use <a target="_blank" href="short/{{params['short']}}">{{params['short']}}</a><br> instead of {{params['long']}}
        <br><br>
        Or, tweet your shortened URL!
        <br>
        <a href='https://twitter.com/share?text=localhost:5000/server/short/{{params["short"]}}' class='twitter-share-button' data-lang='en'>Tweet</a>
        <script>
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src='https://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,'script','twitter-wjs');
        </script>
	<br>
	</p>
</div>
{% endblock %}
