{% extends "layout.html" %}
{% block body %}

<div>
<br>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Members of the team</div>

  <!-- Table -->
  <table class="table">
    <tr>
    	<th>#</th>
    	<th>Full Name</th>
    	<th>Student ID</th>
    	<th>GitHub Link</th>
    </tr>
    <tr>
    	<td>1</td>
    	<td>Kayvan Najafzadeh</td>
    	<td>23994653</td>
    	<td><a href="https://github.com/kayvannj">kayvannj</a></td>
    </tr>
    <tr>
    	<td>2</td>
    	<td>Cory McDowell</td>
    	<td>24016543</td>
    	<td><a href="https://github.com/corymc">corymc</a></td>
    </tr>
    <tr>
    	<td>3</td>
    	<td>Jack</td>
    	<td>21364232</td>
    	<td><a href="https://github.com/jackar">jackar</a></td>
    </tr>
  </table>
</div>
{% endblock %}